html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: zig;
    background-color: black;
    background-image: url(../../images/background2.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 300%;
  }

.img {
  height: 65vh;
  width: 100%;
  background-image: url(../../images/USER-SURPRISED.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.zna {
  display: flex;
  align-items: center;
}

.zna p {
  color: black;
}

.jeff-text {
  color: #FF0000;
  font-size: 15pt;
  padding-top: 1em;
  padding-left: 1.75em;
  padding-bottom: 0.5em;
  width: 100vw;
}

  @media screen and (max-width: 550px) {
    .tile-container {
      grid-template-rows: 120px 120px;
      grid-template-columns: 120px 120px;
    }
  }
  
span {
  font-size: 50pt;
}

.container {
  width: 100%;
}

.general-text-lg {
  font-size: 30pt;
  color: white;
  padding-left: 0.8em;
  padding-right: 3em;
  line-height: 1.25em;
  width: 100%;
  animation: jiggle 0.5s ease-in-out infinite;
}

@keyframes jiggle {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}