html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: zig;
    background-color: black;
    background-image: url(../../images/background2.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 300%;
    height: 100vh;
  }


.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 60%;
  padding-top: 2em;
  padding-bottom: 2em;
}

h2 {
  color: #FF7302;
  font-size: 15pt;
  text-align: center;
  padding: none;
}

.continue {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #FE7301;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #00FF47;
  cursor: pointer;
  font-family: zig;
}
  