body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

#timer-container{
    display: none ;
}

/*radar*/
.spinner {
    width: 280px;
    height: 280px;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.spinner::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: conic-gradient(rgb(0, 26, 37) 70%, #009dc4);
    animation: spin 3s infinite linear;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 65px;
    left: 50px;
    opacity: 0;
    background-color: #f00;
    animation: bip 3s infinite linear;
    animation-delay: 2.2s;
}

.dot2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 50px;
    opacity: 0;
    background-color: #6200ff;
    animation: bip 3s infinite linear;
    animation-delay: 2.2s;
}

.dot3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 50px;
    opacity: 0;
    background-color: #6200ff;
    animation: bip 3s infinite linear;
    animation-delay: 2.2s;
}

.dot4 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 50px;
    opacity: 0;
    background-color: #6200ff;
    animation: bip 3s infinite linear;
    animation-delay: 2.2s;
}

.dot5 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 50px;
    opacity: 0;
    background-color: #6200ff;
    animation: bip 3s infinite linear;
    animation-delay: 2.2s;
}

.dot6 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 50px;
    opacity: 0;
    background-color: #6200ff;
    animation: bip 3s infinite linear;
    animation-delay: 2.2s;
}

.arc {
    display: inline-block;
    border: 1px solid rgba(0, 154, 196, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.arc-medium {
    width: 50%;
    height: 50%;
}

.arc-large {
    width: 75%;
    height: 75%;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bip {
    0% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

/*main screen css*/

.captain-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    justify-content: center;
}

.captain-container>div {
    display: grid;
    justify-items: center;
    grid-auto-rows: minmax(min-content, max-content);
    overflow: hidden;
}

.captain-image {
    width: 125%;
}

.stress_meter {
    width: 200%;
    margin-top: 2.5rem;
    margin-right: -3rem
}

.stress_meter_circles {
    margin-top: 3em;
    margin-left: -3rem;
    width: 280%;
}

.name {
    font-family: 'audiowide';
    font-size: 1.2rem;
    display: flex;
    justify-self: left;
    margin-left: 1rem;
    margin-bottom: -0.5rem;
}

.radar-container {
    display: grid;
    width: 80%;
    margin-left: 10%;
    justify-items: center;
}

.distance-text {
    display: flex;
    justify-self: start;
    text-align: left;
    padding-left: 0 !important;
    margin-bottom: 0;
}

.location-text {
    justify-self: start;
    margin-top: 0;
}

#timer-container {
    display: none;
}

@media only screen and (min-width: 500px) {
    .name {
        font-size: 1.6rem;
    }

    .stress_meter_circles {
        margin-top: 3.5em;
        margin-left: -3rem;
    }

    .stress_meter {
        margin-top: 3rem;
        margin-right: -3rem
    }

    .spinner {
        width: 400px;
        height: 400px;
    }

    .distance-text {
        font-size: 2rem !important;
    }

    .location-text {
        font-size: 2rem;
    }

}

@media only screen and (min-width: 650px) {
    .name {
        font-size: 2rem;
    }

    .stress_meter_circles {
        margin-top: 4em;
        margin-left: -3rem;
    }

    .stress_meter {
        margin-top: 3.5rem;
        margin-right: -3rem
    }

    .spinner {
        width: 480px;
        height: 480px;
    }
}

@media only screen and (min-width: 900px) {
    .stress_meter_circles {
        margin-top: 4.5em;
        margin-left: -6.5rem;
    }

    .stress_meter {
        margin-top: 4rem;
        margin-right: -6.5rem
    }

    .spinner {
        width: 550px;
        height: 550px;
    }

    .dot, .dot2, .dot3, .dot4, .dot5, .dot6 {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .name {
        font-size: 3rem;
    }

    .spinner {
        width: 650px;
        height: 650px;
    }

    .distance-text {
        font-size: 3rem !important;
    }

    .location-text {
        font-size: 3rem;
    }
}