.bg-logo {
    position: relative;
    margin-top: 35vh;
    width:80%;
    z-index: 2;
}

body{
    background-image: none;
}

.bg-home{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.img-6{
    width: 125%;
    margin-left: -1rem;
}

.img-3{
    width: 120%;
    margin-left: -3rem;
}

.img-4{
    width: 120%;
    margin-left: -3rem;
}

.img-5{
    width: 120%;
    margin-left: -3rem;
}

.container-btn{
    text-align: center;
}

.cutscene {
    background-color: #00183F;
}

.text-lg, .text-a {
    font-size: 3rem;
    margin-bottom: 2vh;
}

.start-button {
    font-family: 'zigregular';
    position: relative;
    background-color: black;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    z-index: 3;
    font-size: large;
}

a{
    background-color: #00183F;
}