#bg-home{
    width: 100%;
}

#bg-logo{  
    width: 20rem;
}

#start-btn{
    color: white;
    background-color: black;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
}

