@font-face {
    font-family: 'zigregular';
    src: url('../font/zig_____-webfont.woff2') format('woff2'),
         url('../font/zig_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,body{
    font-family: 'zigregular';
    color: #FFFFFF;
    background-color: black;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
}

.bg-intro{
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    background-color: #00183F;
}

.text-intro{
    text-align: left;
    background-color: #00183F;
    margin-left: 17.5%;
    width: 65%;
}

.arrow{
    background-color: #00183F;
    width: 10%;
    margin-left: 85%;
}

a{
    text-decoration: none;
}
